<header>
  <div class="headerWrapper">
   <div class="headerButtonsWrapper">
     <div class="headerButtons">
       <a routerLink="/index/counter" routerLinkActive="activeBtn" href="#">Counter</a>
     </div>
     <div class="headerButtons">
       <a routerLink="/index/history" routerLinkActive="activeBtn" href="#">History</a>
     </div>
     <div class="headerButtons">
       <a routerLink="/index/statistic" routerLinkActive="activeBtn" href="#">Statistic</a>
     </div>

   </div>
  </div>
</header>
