.addItemPanelWrapper {
  height: 100%;
  width: 300px;
  padding-top: 20px;
  border-left: var(--borderColorMain) solid 1px;
  border-right: var(--borderColorMain) solid 1px;
  border-bottom: var(--borderColorMain) solid 1px;
  overflow: hidden;

}
.pickItemPanel{
  margin: 0 5px;
 padding: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
  border-radius: 5px 5px 0 0;
  border-bottom: rgba(108, 106, 106, 0.5) solid 1px;
  background-image: linear-gradient(to bottom, rgba(108, 106, 106, 0.3), rgba(108, 106, 106, 0.1));
}
.addItemPanel {
  max-width: 300px;
  background-color: rgba(108, 106, 106, 0.1);
  padding: 5px;
  border-radius: 0 0 5px 5px;
  margin: 0 5px 5px 5px;

}

button {
  margin-top: 10px;
  background-color: rgba(108, 106, 106, 0.2);
  border: var(--borderColorMain) solid 1px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(58, 57, 57, 0.3) 1px 1px 2px 1px;
}
.fitObject {
  width: fit-content;
}
.eventLabel{
  border-bottom: rgba(108, 106, 106, 0.5) solid 1px;

}

.customRange {


}
.addNewCategory {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
}
.addNewCategoryForm {
  display: flex;
  align-items: center;
  position: relative;
}
.addNewCategoryForm button {
  margin: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(58, 57, 57, 0.3) 1px 1px 2px 1px;
  background-color: rgba(108, 106, 106, 0.2);
  border: var(--borderColorMain) solid 1px;
  border-radius: 5px;
  padding: 5px;
}
.uniqEventsNameWrapper {
  display: flex;
  gap: 5px;
  margin: 2px;
  flex-wrap: nowrap;
  max-height: 36px;
  overflow: hidden;
  overflow-x: auto;
}
.uniqEventsNames {
 text-wrap: nowrap;
  margin-bottom: 2px;
  padding: 0 5px;
  animation:  fadeInDay;
  animation-fill-mode: forwards;
}
::-webkit-scrollbar {

  width: 5px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #545454;
  border-radius: 3px;
  margin: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
  margin: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(203, 255, 94, 0.5);
}
@keyframes fadeInDay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
.selectMinWidth {
  min-width: 125px;
  border: none;
  box-shadow: rgba(58, 57, 57, 0.3) 1px 1px 2px 1px;
}
.selectWrapper {
align-items: center;
}
.selectCategoryFirst {
  font-size: 0.8rem;
}
.optionsPanel {
  width: fit-content;
  padding: 2px 5px;
}
