<div class="counterWrapper">
  <div class="addItemPanelWrapper">
    <div class="pickItemPanel">
      <div class="addNewCategory">
        <div class="text-nowrap">Add Category</div>
        <form action="" class="addNewCategoryForm" >
          <app-notyfication *ngIf="notyfication"
                            [notyfication]="newCategory "
          ></app-notyfication>
          <app-notyfication *ngIf="loadingFinish"
                            [loadingFinish]="loadingFinish"
          ></app-notyfication>
          <input type="text"
                 name="newCategory"
                 class="form-control"
                 placeholder="New Item"
                 [(ngModel)]="newCategory"
                 [disabled]="loading" >
          <button type="submit"
                  class="mx-1"
                  [disabled]="loading"
                  (click)="addCategory()"
          >Add</button>
        </form>
      </div>
      <div>
        <div class="eventLabel fitObject m-1">
          Category
        </div>
        <select class="form-select mt-1" [(ngModel)]="categoryId"  >
          <option *ngFor="let item of categories" [value]="item.id">{{item.category_name}}</option>
        </select>

      </div>

    </div>
    <div class="addItemPanel">
      <div>

      </div>
      <div>
        <form class="d-flex flex-column gap-2 p-2"  >
          <label class="fitObject eventLabel" for="itemName">Event {{categoryId}}</label>
          <input type="text"
                 class="form-control eventInput"
                 id="itemName"
                 name="itemName"
                 placeholder="Event Name"
                 [(ngModel)]="eventName"
                 [disabled]="loading">
          <label for="itemValue" class="fitObject eventLabel">Value: {{eventValue}}</label>
          <input type="range"
                 id="itemValue"
                 name="itemValue"
                 min="0"
                 max="100"
                 step="1"
                 class="customRange"
                 [(ngModel)]="eventValue"
                 [value]="eventValue"
                 [disabled]="loading">
          <button type="submit"
                  class=""
                  [disabled]="loading"
                  (click)="addObject()">Add</button>
          Adding {{eventName}} with value {{eventValue}} to category {{categoryId}}
        </form>
      </div>
    </div>
  </div>
</div>
<button (click)="togleNotyfication()">test</button>
