<div class="counterWrapper">
  <div class="addItemPanelWrapper">
    <div class="pickItemPanel">
      <div class="addNewCategory">
        <div class="text-nowrap">Add Category</div>
        <form action="" class="addNewCategoryForm">
          <app-notyfication *ngIf="notyfication"
                            [notyfication]="newCategory "
          ></app-notyfication>
          <app-notyfication *ngIf="loadingFinish"
                            [loadingFinish]="loadingFinish"
          ></app-notyfication>
          <input type="text"
                 name="newCategory"
                 class="form-control customSelectDecoration"
                 placeholder="New Item"
                 [(ngModel)]="newCategory"
                 [disabled]="loading()">
          <button type="submit"
                  class="mx-1"

                  [disabled]="loading()"
                  (click)="addCategory()"
          >Add
          </button>
        </form>
      </div>
      <div>
        <div class=" fitObject m-1">
          Category
        </div>
        <select class="form-select mt-1 customSelectDecoration"
                [(ngModel)]="categoryId"
                [disabled]="loading()"
                (change)="loadObjectName()">
          <option *ngFor="let item of categories" [value]="item.id">{{item.category_name}}</option>
        </select>

      </div>

    </div>
    <div class="addItemPanel">
      <div>

      </div>
      <div>
        <div class="selectWrapper d-flex gap-2">
          <div class="eventPanelName ">
            Event
          </div>
          <select class="form-select-sm mt-1 mb-1 selectMinWidth"
                  [disabled]="categoryId === undefined"
                  [(ngModel)]="eventName">
            <option *ngFor="let item of uniqueEventsName" [value]="item">{{item}}</option>
          </select>
          <div [@close]="categoryId===undefined" class="selectCategoryFirst">Category not Selected!</div>
        </div>


        <form class="d-flex flex-column gap-2 ">
          <label class="fitObject " for="itemName">
          </label>
          <div class="uniqEventsNameWrapper">
            <div class="uniqEventsNames customButtonGrey"

                 [ngClass]="{
                  'customButtonGreyActive': event === eventName,
                  'customButtonGrey': event !== eventName
                 }"
                 [ngStyle]="{

                 'animation-duration': '0.7s',
                 'animation-delay': (ii +1) * 100 + 'ms',
                 'visibility': 'hidden',
                 }"
                 (click)="changeEventName(event)"
                 *ngFor="let event of uniqueEventsName; let ii = index">
              {{event}}
            </div>
          </div>

          <input type="text"
                 class="form-control customSelectDecoration"
                 id="itemName"
                 name="itemName"
                 placeholder="Enter Event Name"
                 [(ngModel)]="eventName"
                 [disabled]="loading()">
          <label for="itemValue" class="fitObject d-flex text-center align-items-center">
            <div>Value</div>
            <div class="addButton" (click)="plusAndMinusValue(-1)" >-</div>
            <input class="addEventValueInput" type="number" name="number" [(ngModel)]="eventValue">
            <div class="addButton" (click)="plusAndMinusValue(1)">+</div>
          </label>
          <input type="range"
                 id="itemValue"
                 name="itemValue"
                 min="0"
                 max="100"
                 step="1"
                 class="customRange"
                 [(ngModel)]="eventValue"
                 [value]="eventValue"
                 [disabled]="loading()">
          <button type="submit"
                  class=""

                  [disabled]="loading() || !eventName"
                  (click)="addObject()">Add {{ eventName }} {{ (eventName && eventValue) ? ' - ' + eventValue : '' }}
          </button>
          <div class="position-relative pt-3">
            <app-notyfication *ngIf="addingFinish"
                              [addingFinish]="addingFinish"
            ></app-notyfication>
          </div>
        </form>
        <div class="optionsPanelWrapper">
          <div class="optionsPanel "
               [ngClass]="{'customButtonGreyClicked': isClicked(), 'customButtonGrey': !isClicked()}"
               (click)="optionsOnOff()">
            Options
          </div>
          <app-options
                      (categoryIdToRemove)="removeCategoryFromList($event)"
                      *ngIf="options"
                      [categoriesList]="categories"/>
        </div>
      </div>
    </div>
  </div>
</div>


