<div class="singleDayStatisticWrapper">
  <div class="singleDayStatistic">
    <div class="singleDayValue"
         *ngFor="let event of uniqNameListforDay; let i = index"
         [ngStyle]="{'background-color': pastelColors[i],
                     'width': (getTotalValueForDay(event) / getTotalValueForAllEvents() * 100) + '%'}">
      <div>{{(getTotalValueForDay(event) / getTotalValueForAllEvents() * 100).toFixed(1)}}</div>
    </div>
  </div>
  <div class="singleDayStatistic">

    <div class="singleDayEvents"
         *ngFor="let event of uniqNameListforDay; let i = index"
         [ngStyle]="{'background-color': pastelColors[i],
                     'width': (getNumberOfEventsForDay(event) / objectListForDay.length * 100) + '%'}">
      <div>{{(getNumberOfEventsForDay(event) / objectListForDay.length * 100).toFixed(1)}}</div>
       </div>
  </div>


</div>
