<div class="addPanelWrapper">
<div class="addPanel">
  <div class="addPanelDate">
    date: {{actualDateForDay}}
  </div>
  <div class="addPanelEvent">
    <div class="label">Event</div>
    <select [(ngModel)]="eventToAdd">
      <option *ngFor="let event of uniqueEventsName">{{event}}</option>
    </select>
  </div>
  <div class="addPanelValue">
    <div class="label valueLabel">Value</div>
    <input type="number"
           name="value"
            [(ngModel)]="valueToAdd"
           value="">
  </div>
  <div class="addPanelSubmit">
    <button type="button"
            class="customButtonGrey"
            (click)="addEventToDataBase()"
            name="button">Add</button>
    <button type="button"
            class="customButtonGrey"
            (click)="closeAddPanel()"
            name="button">Close</button>
  </div>
</div>
</div>
