<div class="optionsWrapper">
  <div class="optionSection">
    <div>
      Delete Category
    </div>
    <select class="form-select-sm mt-1 customSelectDecoration"
            [(ngModel)]="categoryId"
            [disabled]="loading()"
            (click)="removeCategory()">
      <option *ngFor="let item of categoriesList"
              [value]="item.id">{{item.category_name}}</option>
    </select>
    <button class="customButtonGrey" [disabled]="loading()">
      Delete
    </button>
  </div>
</div>
