<div class="optionsWrapper">
<!--  Delete Category-->
  <div class="optionSection">
    <div>
      Delete Category
    </div>
    <select class="form-select-sm mt-1 customSelectDecoration"
            [(ngModel)]="categoryId"
            [disabled]="loading()"
            >
      <option *ngFor="let item of categoriesList"
              [value]="item.id">{{item.category_name}}</option>
    </select>
    <button class="customButtonGrey"
            (click)="removeCategory()"
            [disabled]="loading()"
    >
      Delete
    </button>
  </div>
<!--  change steps-->
  <div class="optionSection">
    <div>
      Change Steps
    </div>
    <input type="range"
           [(ngModel)]="stepValue"
           min="1"
           max="10"
           step="1"
           (change)="changeStep()">
    {{stepValue}}
  </div>
  <!--  change max value-->
  <div class="optionSection">
    <div>
      Change Steps
    </div>
    <input type="number"
           class="maxValueInput"
           [(ngModel)]="maxValueOption"
            (change)="changeMaxValue()"
            min="1"
>
    {{maxValueOption}}
  </div>
<!--  save button-->
  <div class="optionSection">
    <div>

    </div>

    <button class="customButtonGrey"
            (click)="saveOptions()"
            [disabled]="loading()"
    >
      Save
    </button>
  </div>
</div>
