<div class="removePanelWrapper">
  <div
    [class]="{'animationRemovePanel': removingAnimation}"
    class="removePanel">
    <div class="bin">
      <img src="assets/delete.png" alt="bin" (click)="removeObjectFromDatabase(objectId)">
    </div>
    <div class="d-flex align-items-center changeValueWrapper">
      <div class="changeValue">
        <input class="changeValueInput"
               [(ngModel)]="newObjectValue"
               type="number">
      </div>
      <div class="change">
        <img src="assets/changeslim.png"
             (click)="changeObjectValue(objectId)"
             alt="change">
      </div>
    </div>

  </div>
</div>
