<div class="historyPanelWrapper">
  <div class="selectObjectPanel">
    <div class="selectObjectPanelHeaderTitle px-2 cu">Category</div>
    <select class="form-select-sm m-1 p-1 customSelectDecoration"
            [(ngModel)]="categoryId"
            (change)="showHistory(categoryId)"
            [disabled]="loading">
      <option *ngFor="let item of categoryList() "
              [value]="item.id">{{item.category_name}}</option>
    </select>
    <!--   <button class="showHistoryButton"-->
    <!--          (click)="showHistory(categoryId)"-->
    <!--           [disabled]="loading"-->
    <!--   >Show</button>-->
  </div>

  <div class="historyPanel">
    <app-weekhistory
      [actualEndOfWeek]="actualShownWeekEnd"
      [startOfWeek]="actualShownWeekStart"
      [weekTotal]="getWeekTotal()"
      [weekTotalEvents]="newObjectsList.length"
      (changeWeekToParent)="showHistoryChildrenAccess($event)"
    >
    </app-weekhistory>
    <div class="dayWrapper d-flex"
         [ngStyle]="{
      'animation-duration': '0.6s',
      'animation-delay': (i +1) * 70 + 'ms',
      'visibility': 'hidden',  }"
         *ngFor="let day of weekdays; let i = index">
      <div class="dayTitle">{{day}}
      <div class="customButtonGrey px-1 py-0" (click)="openAndCloseAddPanel(i)">+</div>
      </div>
      <div class="dayTotal">{{getDayTotalValue(i)}}</div>
      <div class="dayTotalEvents">{{getDayOfWeekList(i).length}}</div>
<!--Add Component-->
       <div class="">
         <app-add-history
                  *ngIf="addPanelOpen[i]"
                  [panelId]="i"
                  [actualWeekStart]="actualShownWeekStartNoFormat"
                  [categoryId]="categoryId"
                  [actualWeekEnd]="actualShownWeekEnd"
                  [actualIndexForDate]="i"
                  [actualObjectsForDay]="getDayOfWeekList(i)"
                  (closeAddPanelId)="openAddPanel($event)"
                  (closePanel)="openAndCloseAddPanel($event)"
         />
       </div>
       <div class="dayContent"
           *ngFor="let singleDay of getDayOfWeekList(i); let ii = index"
           [ngStyle]="{
      'animation-duration': '0.7s',
      'animation-delay': (ii +1) * 100 + 'ms',
      'visibility': 'hidden',
     }"
      >
        {{singleDay.object_name}}
        <div class="removeButton" (click)="openAndCloseRemovePanel(singleDay.id)">
          <img src="assets/hamburger20.png" alt="remove">

        </div>
        <app-remove-object [objectId]="singleDay.id"
                           [removingAnimation]="removingAnimation"
                           (newObjectValueOutput)="changeValueUpdateAndCloseRemovePanel($event)"
                           (objectIdOutput)="deleteAndCloseRemovePanel($event)"
                           *ngIf="openRemovePanels[singleDay.id]"/>
        <div class="dayValue">
          <div>{{singleDay.value}}</div>
        </div>
      </div>


    </div>
  </div>
  <div class="dayListWrapper">


  </div>


</div>

{{actualShownWeekStart}}
{{actualShownWeekEnd}}

